@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i&display=swap');


body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*width: 1366px;*/
}
.container{
    width: 1065px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}


/*HEADER*/
.header{
    padding: 50px 0
}
.header-title-logo{
    text-decoration: none;
}
.header-title-logo-img{
    display: inline-block;
    background-image: url("../img/logosmall.png");
    width: 46px;
    height: 44px;
    margin-right: 5px;
}
.header-link-title{
    display: inline-block;

}
.header-title-item{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'lato', 'sans-serif';
}
.header-title-item-list{
    font-size: 29px;
}

.contact-list{
    float: right;
    color: white;
    font-size: 18px;
    font-family: 'lato', 'sans-serif';
}

.contact-list-phone{
    margin-left: 67px;

}

.contact-list-email{
    margin-bottom: 5px;
}
.header-title:hover .header-title-logo-img {
    background-image: url("../img/logosmallhover.png");
}
.header-title:hover .header-title-item{
    color: #f26522;
}

/*  main-contant*/
.maim-img{
    display: inline-block;
    box-sizing: border-box;
}
.main-img-item{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid white;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 139px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    height: 202px;
    width: 310px;
}
.main-img-photo{
    padding-bottom: 10px;
}

.shopping-card{
    float: left;
    margin-right: 70px;
    margin-bottom: 58px;
}
.shopping-card-link{
    text-decoration: none;
    color: white;
    }
.shopping-card:nth-child(3n){
    margin-right: 0;
}

.shopping-card:hover .shopping-card-details{
    bottom: 0;
}
.shopping-card:hover .shopping-card-title{
    color: #f26522;
}

.shopping-card-img{
    position: relative;
    height: 200px;
    overflow: hidden;
}
.shopping-card-details{
    position: absolute;
    left: 0;
    right: 0;
    padding: 17px;
    bottom: -90px;
    background-color: #f26522;
    transition: 1s;
    font-family: 'lato', 'sans-serif';

}
.shopping-card-details-info{
    font-size: 10px;
    color: #f8ad89;
}

.shopping-card-details-description{
    float: right;
    color: #fef5f0;
    text-transform: capitalize;
    font-size: 14px;
    padding-top: 4px;
   }
.shopping-card-title{
    text-transform: capitalize;
    text-align: center;
    margin-top: 22px;
    font-size: 18px;
    font-family: 'lato', 'sans-serif';
}

/*FOOTER*/
.footer{
    padding: 0 15px;
}
.footer-copyright-tetx{
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
    font-family: 'lato', 'sans-serif';
}